<footer class="footer footer-section">
    <div class="container">
        <div class="footer-social">
            <ul class="list-unstyled list-inline">
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
            </ul>
        </div>

        <p>&copy; 2016-{{ now | date: 'yyyy' }} <a [routerLink] = "['/']" class="footer-link">Aj-Du</a>. All rights reserved.</p>
    </div>
</footer>

