.aplikacja{
  margin-top: 20px;
  margin-bottom: 35px;
  font-family: "Oswald", Arial, Helvetica Neue, Helvetica,sans-serif;
  font-weight: 300;
  font-size: 25px;
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 60px;
  color: #222222;
  height: 120%;
}

.o-aplikacji{
  height:120%;
  margin:5%;
  text-align: center;
}

.aplikacja p{
  margin: 0.3em 0;
  margin-top: 10%;
  text-align: center;
}

/*.aplikacja p: last-child{
  margin-bottom:
    20%;
}*/

.aplikacja.ajdu{
  color:#a499c9;
  /*font-weight: bolder;*/
}

.fade:hover {
  opacity: 1;
}

