<section class="section about-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-cover-img">
               <img src="https://dummyimage.com/590x590/000/fff" class="img-responsive">  
             
                </div>
            </div>
            <div class="col-sm-5 col-sm-push-1">
                <article class="info">
                    <p>
                        Wiele młodych par zastanawia się co trzeba zrobić przed weselem?<br>
                        Chociaż sprawa wydaje się oczywista,<br> bez pomocy wydaje się to skomplikowane.<br>
                        Aplikacja <span class="text-special">AJ-DU</span> pomoże   uniknąć wiele niepotrzebnych stresów...
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>