<nav class="menu_gl main-nav navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-toggle btn icon-bar" data-toggle="collapse" data-target="#mainNavbar">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="main-nav-item">
          <a [routerLink] = "['/']">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </a>
        </li>
        <li class="main-nav-item">
          <a [routerLink] = "['/info']">
            O Aplikacji</a>
        </li>
        <li class="main-nav-item">
          <a [routerLink] = "['/categories']">
            Planowanie</a>
        </li>
        <li class="main-nav-item">
          <a class="link" href="#pakiet">
            Pakiet</a>
        </li>
        <li class="main-nav-item">
          <a class="link" href="#blog">
            Blog</a>
        </li>
        <li class="main-nav-item">
          <a class="link" href="#logowanie/rejestracja">
            Logowanie/Rejestracja</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


