.hero-section {
    background-image: url('../../images/hero/hero-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;

    .hero-bg {
        .square(100%);

        background-color: absolutergba(0, 0, 0, .2);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 110vh;
    }

    h1 {
        .text-center;
        text-transform: uppercase;


        font-family: @font-family-00;
        // font-size: 75px;
        color: #fff;
        text-shadow: @color-violet-00 3px 2px 0;
        background-color: rgba(0, 0, 0, .4);

        padding: @grid;
        margin-top: 50%;

        margin-left: -@grid;
        margin-right: -@grid; // -X = (X * (-1))

        line-height: 1.4321;
        position: relative;
        z-index: 10;
    }
}

@media (min-width: @screen-sm) {
    .hero-section {
        h1 {
            margin-left: initial;
            margin-right: initial;

            span {
                display: block;
            }
        }
    }
}

@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
    .hero-section {
        h1 {
            font-size: 50px;
            margin-top: 35%;
        }
    }
}

@media (min-width: @screen-md) {
    .hero-section {
        .hero-bg {
            background-color: rgba(255, 255, 255, .3);
        }

        h1 {
            font-size: 75px;
            margin-top: 100vh - 75px;
            background-color: transparent;
            color: darken(#fff, 6%);
        }
    }
}

.about-section {
    background-color: #fff;
    text-align: center;

    .img-responsive,
    .info {
        .transition(all .5s linear);
    }

    .img-responsive {
        .opacity(.8);

        border-radius: @grid;
        margin: auto;
    }

    .info {
        font-family: @font-family-01;
        line-height: @line-height-base;
        font-size: @font-size-small * 2;
        font-weight: 300;
        margin-top: @grid;
    }
}

@media (min-width: @screen-md) {
    .about-section {
        .info {
            margin-top: 20.905px;
            text-align: left;
        }
    }
}

@media (min-width: @screen-lg) {
    .about-section {
        .info {
            margin-top: 84.39px;
        }
    }
}

.gallery-section {
    .opacity(.9);

    position: relative;
    overflow: hidden;
    height: 50vh;

    .gallery-before-item,
    .gallery-active-item {
        .box-shadow(0 5vh 30vh #a499c9 inset);

        background-attachment: fixed;
        background-size: cover;
        background-repeat: none;
        background-position: center center;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .gallery-before-item {
        &.out {
            .opacity(0);
            .transition(opacity .250s);
        }
    }

    .gallery-active-item {
        .opacity(0);
        .transition(opacity .500s);

        z-index: 10;

        &.active {
            .opacity(1);
        }
    }

    .galery-items-wrapper {
        display: none !important;
    }
}

.calendar-section {
    background-color: @color-white;
}

.single-blog-section {
    background-color: @color-white;
  //  background-color:white;
    padding-top:5%;

    .single-img {
        border-radius: @grid;
        margin-bottom: @grid;
        overflow: hidden;

        img {
            .transition(all 300ms);

            width: 100%;
            opacity:0.8;
              -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
             filter: grayscale(72%);
        }

        &:hover {
            img {
                transform: ~"rotate(15deg) scale(2.1)";
                .transform-origin(center center);
            }
        }
    }

    .single-blog-head {
        .clearfix;

        margin-bottom: @grid / 2;
    }

    .single-blog-left .date-time {
        color: #a499c9;
        font-family: @font-family-02;
        font-size: 18px;
        position: relative;
        padding-right: @grid;
        margin-right: @grid / 2;
        float: left;

        span {
            font-size: 24px;
            display: block;
            margin: 0 0 @grid / 4 0;
            line-height: 1;
        }

        &:after,
        &:before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: auto;
            height: 100%;
        }

        &:after {
            border-right: 2px dotted #a499c9;
        }

        &:before {
            border-bottom: 2px dotted #a499c9;
            width: 100%;
        }
    }

    .single-blog-right h3 {
        font-size: 16px;
        color: #333333;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 300;
        line-height: 1.4328;
        margin: 0;
    }

    .blog-comment {
        text-align: justify;
        font-weight: 300;
    }
}

.todo-section{
    background-color:white;
}

.widget-label {
    display: inline-block;
    padding: 8px;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    color: #888;
    margin-bottom: 10px;
    line-height: 1.1;
    font-weight: 300;
    font-family: 'Lato', sans-serif;

    &:hover {
        color: #888;
        background-color: #eee;
        cursor: drag;
    }

    label {
        margin-bottom: 0px;
        font-weight: inherit;
    }

    &.widget-success {
        display: none;
    }
}
