<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">{{selectedOrganization.name}} - dostępne usługi</div>
      <div class="panel-body">
        <div *ngFor="let service of services" class="panel panel-default"
             dnd-draggable [dragData]="service"
             (onDragSuccess)="removeFromServices(service)"
             [dropZones]="['package']">
          <div class="panel-body">
            <div>{{service.name}} - {{service.cost}} zł<br></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div dnd-droppable (onDropSuccess)="addToBasket($event)" [dropZones]="['package']" class="panel panel-info">
      <div class="panel-heading">Nasz pakiet<br>(łączny koszt wybranych usług: {{totalCost()}} zł)</div>
      <div class="panel-body">
        <div *ngFor="let service of shoppingBasket" class="panel panel-default">
          <div class="panel-body">
            {{service.name}}<br>(koszt: {{service.cost}} zł)
            <button class="delete" (click)="removeFromBasketToServices(service)">x</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

