<div class="section single-blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-blog">
                    <div class="single-img">
                        <img src="https://dummyimage.com/600x400/888888/fff" alt="" class="img-responsive">
                    </div>
                    <div class="single-blog-content">
                        <div class="single-blog-head">
                            <div class="single-blog-left">
                                <div class="date-time">Dec 12 <span>2016</span></div>
                            </div>
                            <div class="single-blog-right">
                                <h3>In life you have to take the trash out, if you have trash in your life.</h3>
                            </div>
                        </div>
                        <div class="blog-comment">
                            <p>I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="single-img">
                        <img src="https://dummyimage.com/600x400/888888/fff" alt="" class="img-responsive">
                    </div>
                    <div class="single-blog-content">
                        <div class="single-blog-head">
                            <div class="single-blog-left">
                                <div class="date-time">Dec 12 <span>2016</span></div>
                            </div>
                            <div class="single-blog-right">
                                <h3>In life you have to take the trash out, if you have trash in your life.</h3>
                            </div>
                        </div>
                        <div class="blog-comment">
                            <p>I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="single-img">
                        <img src="https://dummyimage.com/600x400/888888/fff" alt="" class="img-responsive">
                    </div>
                    <div class="single-blog-content">
                        <div class="single-blog-head">
                            <div class="single-blog-left">
                                <div class="date-time">Dec 12 <span>2016</span></div>
                            </div>
                            <div class="single-blog-right">
                                <h3>In life you have to take the trash out, if you have trash in your life.</h3>
                            </div>
                        </div>
                        <div class="blog-comment">
                            <p>I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
