<div class="section single-blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-blog">
                    <div class="single-img">
                        <img src="/images/about/about1.jpg"  class="img-responsive">
                    </div>
                    <div class="single-blog-content">
                        <div class="single-blog-head">
                            <div class="single-blog-left">
                                <div class="date-time">Kwiecień 12 <span>2017</span></div>
                            </div>
                            <div class="single-blog-right">
                                <h3>Planowanie ślubu i wesela. Dlaczego to jest takie czasochłonne?</h3>
                            </div>
                        </div>
                        <div class="blog-comment">
                            <p>Ślub różni się od tradycyjnych imprez bardzo. Z reguły młode pary biorą ślub w soboty, a najpopularniejsze miesiące to kwiecień maj, czerwiec, lipiec i sierpień - głównie ze względu na plener i temperaturę.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="single-img">
                        <img src="/images/about/blog3.png" class="img-responsive">
                    </div>
                    <div class="single-blog-content">
                        <div class="single-blog-head">
                            <div class="single-blog-left">
                                <div class="date-time">Kwiecień 10 <span>2017</span></div>
                            </div>
                            <div class="single-blog-right">
                                <h3>Dlaczego obrączkę nosi się na serdecznym palcu?</h3>
                            </div>
                        </div>
                        <div class="blog-comment">
                            <p>Zwyczaje ślubne zmieniały się na przestrzeni lat. Na początku XX wieku obrączki nosiły tylko kobiety. Początkowo noszono je na prawej dłoni, jednak, pod wpływem antycznego wierzenia, że żyła lewej ręki łączy się bezpośrednio z sercem, wytworzył się podział. Państwa Europy Środkowej i Wschodniej zostały przy prawej dłoni. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="single-img">
                        <img src="/images/about/blog6.png" class="img-responsive">
                    </div>
                    <div class="single-blog-content">
                        <div class="single-blog-head">
                            <div class="single-blog-left">
                                <div class="date-time">Marzec 30 <span>2017</span></div>
                            </div>
                            <div class="single-blog-right">
                                <h3>Dylemat kwiatowy. Jaki bukiet do ślubu?</h3>
                            </div>
                        </div>
                        <div class="blog-comment">
                            <p>Jak dobrać odpowiedni bukiet ślubny? Wiele Panien Młodych, jeszcze przed rozpoczęciem przedślubnych przygotowań nie zdaje sobie sprawy z tego, jak ważną jest odpowiedź na to pytanie. Ważną, a czasem również niełatwą. </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
